In [38]:
import pandas as pd

In [39]:
data = pd.read_csv("data/DesignCensus2017_Data.csv")

In [40]:
#data.head()

In [41]:
data["40 --My ethnicity is:"].value_counts().reset_index().head()

                                 index  40 --My ethnicity is:
0                   White or Caucasian                   8954
1                                Asian                   1377
2  Latina, Latino, Latinx, or Hispanic                    899
3            Black or African American                    409
4                    Prefer not to say                    352

In [42]:
byEthnicity = data[(data['40 --My ethnicity is:'] == 'Black or African American') | (data['40 --My ethnicity is:'] == 'Asian') | (data['40 --My ethnicity is:'] == 'White or Caucasian') | (data['40 --My ethnicity is:'] == 'Latina, Latino, Latinx, or Hispanic')]

In [43]:
#byEthnicity.info()

In [44]:
#byEthnicity.head()

### Age

In [49]:
byEthnicity.groupby('40 --My ethnicity is:')['37 --My age is:'].mean().reset_index()

                 40 --My ethnicity is:  37 --My age is:
0                                Asian        29.112564
1            Black or African American        32.102689
2  Latina, Latino, Latinx, or Hispanic        31.532814
3                   White or Caucasian        33.188184

In [51]:
#byEthnicity.groupby(['40 --My ethnicity is:', '38 --I am:'])['37 --My age is:'].mean().reset_index()

### Population

In [57]:
byEthnicity['38 --I am:'].value_counts().reset_index()

                        index  38 --I am:
0                      Female        6296
1                        Male        5226
2  Non-binary or third gender          81
3           Prefer not to say          35
4                       Other           1

In [55]:
byEthnicity.groupby('40 --My ethnicity is:')['38 --I am:'].value_counts()

40 --My ethnicity is:                38 --I am:
Asian                                Female                         772
                                     Male                           590
                                     Non-binary or third gender      10
                                     Prefer not to say                5
Black or African American            Female                         206
                                     Male                           193
                                     Non-binary or third gender       7
                                     Prefer not to say                2
                                     Other                            1
Latina, Latino, Latinx, or Hispanic  Female                         446
                                     Male                           443
                                     Non-binary or third gender       6
                                     Prefer not to say                4
White or Caucasian                   Female                        4872
                                     Male                          4000
                                     Non-binary or third gender      58
                                     Prefer not to say               24
Name: 38 --I am:, dtype: int64

### Annual salary

In [46]:
byEthnicity.groupby('40 --My ethnicity is:')['18 --My annual salary is:'].mean().reset_index()

                 40 --My ethnicity is:  18 --My annual salary is:
0                                Asian               72199.867127
1            Black or African American               62897.529716
2  Latina, Latino, Latinx, or Hispanic               54967.211628
3                   White or Caucasian               69157.288851

In [47]:
byEthnicity.groupby(['40 --My ethnicity is:', '38 --I am:'])['18 --My annual salary is:'].mean().sort_values(ascending=False).reset_index()

,40 --My ethnicity is:,38 --I am:,18 --My annual salary is:
0,Asian,Prefer not to say,179780.000000
1,Black or African American,Other,150000.000000
2,White or Caucasian,Male,78762.928041
3,Asian,Female,74270.756831
4,Black or African American,Male,73569.172043
5,Asian,Male,69150.870270
6,"Latina, Latino, Latinx, or Hispanic",Non-binary or third gender,67833.333333
7,White or Caucasian,Female,61554.009458
8,Black or African American,Prefer not to say,60000.000000
9,"Latina, Latino, Latinx, or Hispanic",Male,57318.797203
10,White or Caucasian,Non-binary or third gender,57177.241379
11,Black or African American,Female,52630.041237
12,"Latina, Latino, Latinx, or Hispanic",Female,52492.981043
13,Black or African American,Non-binary or third gender,47450.000000
14,White or Caucasian,Prefer not to say,42541.666667
15,"Latina, Latino, Latinx, or Hispanic",Prefer not to say,41000.000000
16,Asian,Non-binary or third gender,36040.000000

In [48]:
byEthnicity.groupby(['40 --My ethnicity is:', '38 --I am:',"1 -- I've worked in design for:"])['18 --My annual salary is:'].mean().sort_values(ascending=False).reset_index()

,40 --My ethnicity is:,38 --I am:,1 -- I've worked in design for:,18 --My annual salary is:
0,Black or African American,Male,20+ years,273392.785714
1,Asian,Prefer not to say,1-4 years,242966.666667
2,White or Caucasian,Non-binary or third gender,20+ years,160000.000000
3,Black or African American,Other,10-14 years,150000.000000
4,White or Caucasian,Male,20+ years,107230.440945
5,Asian,Female,20+ years,106466.666667
6,Asian,Male,10-14 years,104459.862500
7,White or Caucasian,Male,15-20 years,102356.628405
8,Asian,Prefer not to say,20+ years,100000.000000
9,Black or African American,Non-binary or third gender,5-9 years,100000.000000
10,Asian,Female,10-14 years,99559.522388
11,Asian,Female,15-20 years,96179.567568
12,Asian,Male,15-20 years,90995.106383
13,White or Caucasian,Non-binary or third gender,15-20 years,89600.000000
14,White or Caucasian,Prefer not to say,15-20 years,88000.000000
15,Black or African American,Non-binary or third gender,15-20 years,87250.000000
16,White or Caucasian,Male,10-14 years,86392.062589
17,Black or African American,Male,15-20 years,86159.090909
18,"Latina, Latino, Latinx, or Hispanic",Male,15-20 years,84794.208333
19,White or Caucasian,Female,20+ years,83608.934354
20,Asian,Female,5-9 years,82884.910526
21,White or Caucasian,Female,15-20 years,82754.923267
22,Asian,Male,20+ years,82750.000000
23,"Latina, Latino, Latinx, or Hispanic",Non-binary or third gender,5-9 years,81250.000000
24,"Latina, Latino, Latinx, or Hispanic",Female,10-14 years,76298.738462
25,White or Caucasian,Male,5-9 years,73995.933213
26,Asian,Male,5-9 years,73881.469136
27,White or Caucasian,Female,10-14 years,72167.274929
28,Black or African American,Female,15-20 years,72031.250000
29,Black or African American,Male,10-14 years,71191.026316
...,...,...,...,...
52,Asian,Female,Less than 1 year,47482.602941
53,White or Caucasian,Prefer not to say,1-4 years,44571.428571
54,Black or African American,Female,1-4 years,44505.443038
55,Asian,Non-binary or third gender,1-4 years,43500.000000
56,"Latina, Latino, Latinx, or Hispanic",Male,1-4 years,42483.861538
57,White or Caucasian,Non-binary or third gender,1-4 years,42070.476190
58,"Latina, Latino, Latinx, or Hispanic",Prefer not to say,1-4 years,41500.000000
59,"Latina, Latino, Latinx, or Hispanic",Female,1-4 years,41480.018634
60,"Latina, Latino, Latinx, or Hispanic",Prefer not to say,5-9 years,40000.000000
61,Black or African American,Male,1-4 years,39816.803279
62,Black or African American,Male,Less than 1 year,39750.000000
63,White or Caucasian,Prefer not to say,10-14 years,38400.000000
64,"Latina, Latino, Latinx, or Hispanic",Male,Less than 1 year,38247.368421
65,White or Caucasian,Non-binary or third gender,Less than 1 year,36400.000000
66,White or Caucasian,Male,Less than 1 year,36243.899160
67,Black or African American,Female,Less than 1 year,35227.272727
68,"Latina, Latino, Latinx, or Hispanic",Female,Less than 1 year,33710.538462
69,White or Caucasian,Female,Less than 1 year,33500.625000
70,Asian,Non-binary or third gender,Less than 1 year,31200.000000
71,Asian,Male,Less than 1 year,29182.560976
72,White or Caucasian,Prefer not to say,Less than 1 year,28000.000000
73,White or Caucasian,Prefer not to say,5-9 years,25600.000000
74,Black or African American,Non-binary or third gender,1-4 years,25000.000000
75,Asian,Non-binary or third gender,5-9 years,20500.000000
76,"Latina, Latino, Latinx, or Hispanic",Non-binary or third gender,1-4 years,15000.000000
77,Asian,Non-binary or third gender,10-14 years,7700.000000
78,Black or African American,Non-binary or third gender,20+ years,0.000000
79,Black or African American,Non-binary or third gender,Less than 1 year,NaN
80,Black or African American,Prefer not to say,Less than 1 year,NaN
81,"Latina, Latino, Latinx, or Hispanic",Prefer not to say,Less than 1 year,NaN