## Interesting Findings

#### 1) Asian designers are younger and make more money
#### 2) The main challenge for all the designers is 'Design not having a seat at the table'
#### 3) 'Diversity in design and tech' => Fourth biggest challenge to White, First for Black, Second for Asian & Latino


Note: Data analysis includes only 4 ethnicity groups (White, Latino, Asian, Black).

In [196]:
import pandas as pd

In [197]:
data = pd.read_csv("data/DesignCensus2017_Data.csv")

In [198]:
data.head()

,1 -- I've worked in design for:,2 --I primarily work in:,3 --I'm also good at:,4 --I am currently:,5 --My company specializes in:,6 --My company is:,7 --I teach:,8 --I'm not working because:,9 --My organization has:,10 --My immediate team is:,...,34 --I am:,"35 --Right now, I can't stop listening to:",36 --I live in:,37 --My age is:,38 --I am:,39 --I consider myself:,40 --My ethnicity is:,41 --The most critical issues and challenges currently facing design are (answer optional):,42 --The emerging trends and technologies that will have the biggest impact on design are (answer optional):,43 --The most valuable design skills for the future will be (answer optional):
0,10-14 years,Graphic Design|Marketing|Photography|Web Design,Brainstorming and Ideation|Facilitation|Leader...,A full-time employee at an agency or consultancy,Advertising|Branding|Innovation|Strategy,NaN,NaN,NaN,1-10 employees,2-4 people,...,Not interested in a new job right now,Looking Glass,76051.0,24,Male,Not LGBTQ,White or Caucasian,"Design not having a ""seat at the table""|Genera...",AI and machine learning|Augmented Reality|Beha...,Adaptability to tech and social change|Asking ...
1,1-4 years,Graphic Design|Interaction Design|UI Design|We...,Brainstorming and Ideation|Diversity and Inclu...,A full-time employee at an agency or consultancy,Digital,NaN,NaN,NaN,1-10 employees,Just me,...,Working hard to find my next job,dua lipa,60638.0,25,Female,Not LGBTQ,White or Caucasian,Education cost and equity of access|Generation...,AI and machine learning|Algorithmic design|Beh...,Empathy|Interpersonal skills|Managing complexi...
2,15-20 years,Communication Design|Marketing|Research|Strategy,Mentoring|Project Management|Social Media,A full-time employee in-house,NaN,Non-Profit,NaN,NaN,11-50 employees,2-4 people,...,Working hard to find my next job,Sia,10005.0,43,Male,Not LGBTQ,White or Caucasian,None of these,None of these,None of these
3,10-14 years,Communication Design|Graphic Design|Illustrati...,Brainstorming and Ideation|Drawing or Painting...,A full-time employee in-house,NaN,For-Profit/Corporate,NaN,NaN,1000+ employees,11-20 people,...,"Open to opportunities, but not actively looking","My cats, begging for breakfast",11217.0,34,Male,Not LGBTQ,White or Caucasian,Advertising supported content model|Algorithm ...,AI and machine learning|Algorithmic design|Con...,Adaptability to tech and social change|Communi...
4,15-20 years,Communication Design|Environmental Design|Grap...,Brainstorming and Ideation|Business|Drawing or...,A full-time employee at an agency or consultancy,Advertising|Branding|Digital|Innovation|Print|...,NaN,NaN,NaN,11-50 employees,5-10 people,...,Not interested in a new job right now,Big Little Lies Soundtrack,94114.0,39,Male,LGBTQ,White or Caucasian,Advertising supported content model|Algorithm ...,3D printing|AI and machine learning|Algorithmi...,Adaptability to tech and social change|Psychol...

In [199]:
# data.info()

In [200]:
data["40 --My ethnicity is:"].value_counts().reset_index().head()

                                 index  40 --My ethnicity is:
0                   White or Caucasian                   8954
1                                Asian                   1377
2  Latina, Latino, Latinx, or Hispanic                    899
3            Black or African American                    409
4                    Prefer not to say                    352

# By Ethnicity

In [201]:
ethnicity = data["40 --My ethnicity is:"].value_counts()

In [202]:
total = ethnicity.sum()

In [203]:
total

13158

## 1) White

In [204]:
race_white = data[data['40 --My ethnicity is:'] == 'White or Caucasian']

In [205]:
float(len(race_white))*100/total  #pct of white

68.04985560115519

In [206]:
race_white['37 --My age is:'].mean() #avg age

33.188184051820414

In [207]:
race_white['36 --I live in:'].mean() #avg income

49654.37394736842

In [208]:
race_white['38 --I am:'].value_counts().reset_index() #gender

                        index  38 --I am:
0                      Female        4872
1                        Male        4000
2  Non-binary or third gender          58
3           Prefer not to say          24

In [209]:
white_challenges = race_white['41 --The most critical issues and challenges currently facing design are (answer optional):']

In [210]:
white_challenges.value_counts().sort_values(ascending=False).reset_index().head()

,index,41 --The most critical issues and challenges currently facing design are (answer optional):
0,None of these,483
1,"Design not having a ""seat at the table""",459
2,"Design not having a ""seat at the table""|Genera...",173
3,Generational differences in the workforce,152
4,"Design not having a ""seat at the table""|Divers...",114

## 2) Asian

In [211]:
race_asian = data[data['40 --My ethnicity is:'] == 'Asian']

In [212]:
float(len(race_asian))*100/total  #pct of asian

10.465116279069768

In [213]:
race_asian['37 --My age is:'].mean() #avg age

29.112563543936094

In [214]:
race_asian['36 --I live in:'].mean() #avg income

55466.96927966102

In [215]:
race_asian['38 --I am:'].value_counts().reset_index() #gender

                        index  38 --I am:
0                      Female         772
1                        Male         590
2  Non-binary or third gender          10
3           Prefer not to say           5

In [216]:
asian_challenges = race_asian['41 --The most critical issues and challenges currently facing design are (answer optional):']

In [217]:
asian_challenges.value_counts().sort_values(ascending=False).reset_index().head()

,index,41 --The most critical issues and challenges currently facing design are (answer optional):
0,None of these,49
1,"Design not having a ""seat at the table""",38
2,Diversity in design and tech,24
3,"Design not having a ""seat at the table""|Divers...",21
4,"Design not having a ""seat at the table""|Genera...",15

## 3) Latina, Latino, Latinx, or Hispanic

In [218]:
race_ratino = data[data['40 --My ethnicity is:'] == 'Latina, Latino, Latinx, or Hispanic']

In [219]:
float(len(race_ratino))*100/total  #pct of ratino

6.83234534123727

In [220]:
race_ratino['37 --My age is:'].mean() #avg age

31.53281423804227

In [221]:
race_ratino['36 --I live in:'].mean() #avg income

57135.088323353295

In [222]:
race_ratino['38 --I am:'].value_counts().reset_index() #gender

                        index  38 --I am:
0                      Female         446
1                        Male         443
2  Non-binary or third gender           6
3           Prefer not to say           4

In [223]:
ratino_challenges = race_ratino['41 --The most critical issues and challenges currently facing design are (answer optional):']

In [224]:
ratino_challenges.value_counts().sort_values(ascending=False).reset_index().head()

,index,41 --The most critical issues and challenges currently facing design are (answer optional):
0,None of these,45
1,"Design not having a ""seat at the table""",38
2,Diversity in design and tech,19
3,"Design not having a ""seat at the table""|Divers...",13
4,Generational differences in the workforce,13

## 4) Black or African American

In [225]:
race_black = data[data['40 --My ethnicity is:'] == 'Black or African American']

In [226]:
float(len(race_black))*100/total #pct of black

3.108375132998936

In [227]:
race_black['37 --My age is:'].mean() #avg age

32.10268948655257

In [228]:
race_black['36 --I live in:'].mean() #avg income

43633.711590296494

In [229]:
race_black['38 --I am:'].value_counts().reset_index()

                        index  38 --I am:
0                      Female         206
1                        Male         193
2  Non-binary or third gender           7
3           Prefer not to say           2
4                       Other           1

In [230]:
black_challenges = race_black['41 --The most critical issues and challenges currently facing design are (answer optional):']

In [231]:
black_challenges.value_counts().sort_values(ascending=False).reset_index().head()

,index,41 --The most critical issues and challenges currently facing design are (answer optional):
0,"Design not having a ""seat at the table""|Divers...",21
1,"Design not having a ""seat at the table""|Divers...",20
2,Diversity in design and tech,19
3,None of these,18
4,"Design not having a ""seat at the table""",11