In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("data/DesignCensus2017_Data.csv")

In [3]:
#data.head()

In [16]:
data["40 --My ethnicity is:"].value_counts().reset_index().head()
#number in each ethnicity

                                 index  40 --My ethnicity is:
0                   White or Caucasian                   8954
1                                Asian                   1377
2  Latina, Latino, Latinx, or Hispanic                    899
3            Black or African American                    409
4                    Prefer not to say                    352

In [5]:
byEthnicity = data[(data['40 --My ethnicity is:'] == 'Black or African American') | (data['40 --My ethnicity is:'] == 'Asian') | (data['40 --My ethnicity is:'] == 'White or Caucasian') | (data['40 --My ethnicity is:'] == 'Latina, Latino, Latinx, or Hispanic')]

In [6]:
#byEthnicity.info()

In [7]:
#byEthnicity.head()

### Age

In [17]:
byEthnicity.groupby('40 --My ethnicity is:')['37 --My age is:'].mean().sort_values().reset_index()

                 40 --My ethnicity is:  37 --My age is:
0                                Asian        29.112564
1  Latina, Latino, Latinx, or Hispanic        31.532814
2            Black or African American        32.102689
3                   White or Caucasian        33.188184

In [9]:
#byEthnicity.groupby(['40 --My ethnicity is:', '38 --I am:'])['37 --My age is:'].mean().reset_index()

### Population

In [10]:
byEthnicity['38 --I am:'].value_counts().reset_index()

                        index  38 --I am:
0                      Female        6296
1                        Male        5226
2  Non-binary or third gender          81
3           Prefer not to say          35
4                       Other           1

In [11]:
byEthnicity.groupby('40 --My ethnicity is:')['38 --I am:'].value_counts()

40 --My ethnicity is:                38 --I am:
Asian                                Female                         772
                                     Male                           590
                                     Non-binary or third gender      10
                                     Prefer not to say                5
Black or African American            Female                         206
                                     Male                           193
                                     Non-binary or third gender       7
                                     Prefer not to say                2
                                     Other                            1
Latina, Latino, Latinx, or Hispanic  Female                         446
                                     Male                           443
                                     Non-binary or third gender       6
                                     Prefer not to say                4
White or Caucasian                   Female                        4872
                                     Male                          4000
                                     Non-binary or third gender      58
                                     Prefer not to say               24
Name: 38 --I am:, dtype: int64

### Annual salary

In [12]:
byEthnicity.groupby('40 --My ethnicity is:')['18 --My annual salary is:'].mean().reset_index()

                 40 --My ethnicity is:  18 --My annual salary is:
0                                Asian               72199.867127
1            Black or African American               62897.529716
2  Latina, Latino, Latinx, or Hispanic               54967.211628
3                   White or Caucasian               69157.288851

In [13]:
byEthnicity.groupby(['40 --My ethnicity is:', '38 --I am:'])['18 --My annual salary is:'].mean().sort_values(ascending=False).reset_index()

,40 --My ethnicity is:,38 --I am:,18 --My annual salary is:
0,Asian,Prefer not to say,179780.000000
1,Black or African American,Other,150000.000000
2,White or Caucasian,Male,78762.928041
3,Asian,Female,74270.756831
4,Black or African American,Male,73569.172043
5,Asian,Male,69150.870270
6,"Latina, Latino, Latinx, or Hispanic",Non-binary or third gender,67833.333333
7,White or Caucasian,Female,61554.009458
8,Black or African American,Prefer not to say,60000.000000
9,"Latina, Latino, Latinx, or Hispanic",Male,57318.797203
10,White or Caucasian,Non-binary or third gender,57177.241379
11,Black or African American,Female,52630.041237
12,"Latina, Latino, Latinx, or Hispanic",Female,52492.981043
13,Black or African American,Non-binary or third gender,47450.000000
14,White or Caucasian,Prefer not to say,42541.666667
15,"Latina, Latino, Latinx, or Hispanic",Prefer not to say,41000.000000
16,Asian,Non-binary or third gender,36040.000000

In [18]:
byEthnicity.groupby(['40 --My ethnicity is:', '38 --I am:',"1 -- I've worked in design for:"])['18 --My annual salary is:'].mean().sort_values(ascending=False).reset_index().head()

,40 --My ethnicity is:,38 --I am:,1 -- I've worked in design for:,18 --My annual salary is:
0,Black or African American,Male,20+ years,273392.785714
1,Asian,Prefer not to say,1-4 years,242966.666667
2,White or Caucasian,Non-binary or third gender,20+ years,160000.000000
3,Black or African American,Other,10-14 years,150000.000000
4,White or Caucasian,Male,20+ years,107230.440945

In [15]:
byEthnicity.groupby(['38 --I am:'])['18 --My annual salary is:'].mean().sort_values(ascending=False).reset_index()

                   38 --I am:  18 --My annual salary is:
0                       Other              150000.000000
1                        Male               75708.689064
2           Prefer not to say               63724.242424
3                      Female               62168.758107
4  Non-binary or third gender               54695.316456

### Company size

In [19]:
byEthnicity.groupby('40 --My ethnicity is:')['9 --My organization has:'].value_counts()

40 --My ethnicity is:                9 --My organization has:
Asian                                1000+ employees              369
                                     11-50 employees              237
                                     1-10 employees               211
                                     51-100 employees             143
                                     101-250 employees            127
                                     251-500 employees             91
                                     501-1000 employees            79
                                     Not sure                      42
Black or African American            1-10 employees               107
                                     1000+ employees               90
                                     11-50 employees               60
                                     51-100 employees              44
                                     101-250 employees             26
                                     501-1000 employees            24
                                     251-500 employees             22
                                     Not sure                      12
Latina, Latino, Latinx, or Hispanic  1-10 employees               234
                                     1000+ employees              195
                                     11-50 employees              162
                                     51-100 employees              72
                                     101-250 employees             71
                                     251-500 employees             59
                                     501-1000 employees            43
                                     Not sure                      24
White or Caucasian                   1-10 employees              2272
                                     1000+ employees             1902
                                     11-50 employees             1736
                                     101-250 employees            791
                                     51-100 employees             771
                                     251-500 employees            604
                                     501-1000 employees           511
                                     Not sure                     151
Name: 9 --My organization has:, dtype: int64